.book-info-container {
  display: flex;
  /* Removed justify-content and align-items to allow children to use their own width */
  padding: 20px; 
}

.book-info-left-pane {
  flex: 1.5; /* Takes up 1 fraction of the available space */
  /* Height is removed to allow the pane to grow with content */
  /* background-color: #cccccc;  */

}

.book-info-right-pane {
  flex: 2; 
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust as needed */
  padding: 20px;
  padding-right: 100px;
  background-image: linear-gradient(
    to bottom,
    transparent 50%, 
    #E1E2F6 50%
  );
}

.book-info-image-container {
  /* Adjust styles if needed */
}

.book-info-img {
  width: 300px; /* Adjust the width of the image */
  height: auto; /* Maintain the aspect ratio */
  /* Add more styling as needed */
}

.book-info-details-container {
  display: flex;
  flex-direction: column; /* Stack title and description vertically */
  align-items: flex-start; 
  gap: 10px; /* Space between title and description */
}

.book-info-title {
  font-weight: bold;
  text-align: left; /* Text alignment */
}

.book-info-description {
  text-align: left; /* Text alignment */
  /* Adjust width if needed, or remove it to use the natural width */
}
